.admin-login {
  background: transparent;
}

.admin-login form {
  background: rgb(178, 177, 177) !important;
  transition: all 0.3s ease;
}

.admin-login form:hover {
  transform: translateY(-5px);
}
